html, body {
  height: 100%;
}

body {
  display: flex;
  margin: 0;
}

div#left {
  flex: 9;
  display: flex;
  flex-direction: column;
}

div#right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  margin: 0.5rem;
}

#right > select {
  margin: 0.5rem;
}

div#container {
  flex: 4;
}

div#control {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  font-size: large;
}

button#movement {
  width: 40%;
  height: 40%;
}

button#movement[active] {
  background-color: aqua;
}

a.another-version {
  align-self: end;
  margin-top: auto;
}
