body * {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

html, body {
  height: 100%;
  touch-action: manipulation;
}

body {
  display: flex;
  margin: 0;
}

div#left {
  flex: 9;
  display: flex;
  flex-direction: column;
}

div#right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  margin: 0.5rem;
}

div#right>div, div#right>button {
  margin: 0.3rem;
}

div#container {
  flex: 4;
}

div#control {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button {
  font-size: large;
}

button.move {
  width: 40%;
  height: 40%;
}

.active {
  background-color: aqua;
}

a.another-version {
  align-self: end;
  margin-top: auto;
}

div#settings {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 94%;
  height: 91%;
  background: white;
  border: thick double;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  visibility: hidden;
}

#settings > select {
  margin: 0.3rem;
  height: 3em;
  font: large;
}

button#settings-ok {
  align-self: center;
  margin-top: auto;
  margin-bottom: 0.5rem;
  height: 3em;
  font: large;
}
